{% extends "layout.html" %}
{% block title %}Alexangelo's Portfolio{% endblock %}

{% block content %}
<div class="content-container1">
    <div>
        <div class="picture">
        </div>
        <div class="text">
            <h1>My name is Alexangelo Andrews</h1>
            <h2>Front-End Web Developer</h2>
        </div>
    </div>
    <img src="/static/Coding Animation.gif" alt="light blue laptop">
</div>
<!-- add about me(add link to visible resume page in about me with a pdf download link) -->
<!-- add frontend and backend skills along with tools used -->
<!-- add projects, each project should have a live demo and a link the source code -->
<!-- add contact (phone email and contact form)  -->
<!-- add links to socials(linkedin, github, upwork) -->
    
{% endblock %}